// Vendors
@import "vendors/normalize/normalize";

// Common
@import "common/fonts";
@import "common/vars";
@import "common/components";

@import "common/loader";
@import "common/header";
@import "common/footer";

body {
	background-color: black;
}

section {
  background-image: url("../assets/img/pattern.png");
  width: 1200px;
}

// Views
@import "views/home";
@import "views/experience";
@import "views/music";
