section#experience{
	overflow-x: hidden;
	display: none;
	article.gps {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 26px;
		div#map {
 			width: 1160px;
            height: 370px;
            div.gmnoprint {
            	display: none;
            }
			a[href^="http://maps.google.com/maps"]{display:none !important}
			a[href^="https://maps.google.com/maps"]{display:none !important}
			.gmnoprint a, .gmnoprint span, .gm-style-cc {
			    display:none;
			}
			.gmnoprint div {
			    background:none !important;
			}
		}
		div.dot {
			display: none;
			position: absolute;
			left: 472px;
			top: 335px;
			background-color: rgba(248, 155, 0, 0.8);
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 2px solid rgba(255, 255, 255, 0.8);
			
			animation-name: changeOpacity, changeScale;
	      	animation-iteration-count: infinite, infinite;
	      	animation-duration: 1.5s, 1.5s;
			div.inner {
				box-shadow: 0px 1px 1px $black;
				position: relative;
				left: 40%;
				top: 40%;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: #f2241d;
			}
		}

		div.blocLeft {
			z-index: 9999;
			position: absolute;
			top: 182px;
			left: 25px;
			background-color: $gray-r;
			width: 254px;
			height: 352px;
			display: none;
			div.top {
				display: block;
				text-align: center;
				padding-top: 25px;
				background-color: $gray-b;
			}
			div.left {
				float: left;
				height: 117px;
				width: 45px;
				display: block;
				text-align: center;
				div.dotFirst {
					margin-top: 6px !important;
					margin: 0 auto;
					margin-bottom: 6px;
					display: block;
					border: 2px solid $gray-l;
					border-radius: 50%;
					width: 5px;
					height: 5px;
					margin-bottom: 8px;
				}
				div.dotLeft {
					margin: 0 auto;
					margin-bottom: 5px;
					display: block;
					background-color: $gray-l;
					border-radius: 50%;
					width: 5px;
					height: 5px;
				}
				svg {
					fill: $gray-l;
				}
			}
			div.center {
				width: 0px;
				height: 117px;
	 			form {
					input {
						font-size: 15px;
						color: $gray-l;
						width: 150px;
						margin-top: 25px;
						text-align: left;
						display: block;
						margin: 0 auto;
						padding-bottom: 10px;
						border-bottom: 1px solid $gray-l;
						border-top: 0px;
						border-left: 0px;
						border-right: 0px;
						background-color: transparent;
						&:nth-child(2){
							padding-top: 27px;
						}
						&::-webkit-input-placeholder {
							color: $gray-l;
						}
					}
				}
			}
			div.right {
				float: right;
				width: 45px;
				height: 117px;
				img {
					padding-top: 27px;
					width: 70%;
					height: auto;
				}
				svg {
					margin-top: -3px;
					fill: #7b787b;
				}
			}
			div.bottom {
				p {
					text-transform: uppercase;
					text-align: center;
					color: $gray-m;
					padding-right: 30px;
					margin-bottom: 5px;
					&:nth-child(1){
						font-size: 18px;
					}
					&:nth-child(2){
						margin-top: 0px;
						padding-right: 90px;
						font-size: 13px;
					}
					&:nth-child(3){
						color: $white;
						margin-top: 17px;
						padding-right: 42px;
						font-size: 13px;
						svg {
							padding-right: 5px;
							height: 25px;
							vertical-align: middle;
						}
					}
					&:nth-child(4){
						color: $gray-l;
						margin-top: 0px;
						padding-right: 42px;
						font-size: 13px;
						svg {
							height: 25px;
							padding-left: 15px;
							padding-right: 5px;
							vertical-align: middle;
						}
					}
					&:nth-child(5) {
						color: $gray-l;
						margin-top: 0px;
						padding-right: 42px;
						font-size: 13px;
						svg {
							height: 25px;
							padding-left: 5px;
							padding-right: 5px;
							vertical-align: middle;
						}
					}
					&:nth-child(6) {
						color: $gray-l;
						margin-top: 0px;
						font-size: 13px;
						padding-right: 17px;
						svg {
							height: 25px;
							padding-right: 5px;
							vertical-align: middle;
						}
					}
					span {
						color: $orange;
					}
				}
			}
		}
		div.blocRight {
			z-index: 9999;
			position: absolute;
			top: 175px;
			left: 907px;
			background-color: $black;
			width: 275px;
			height: 372px;
			display: inline;
			p.title{
				font-weight: 600;
				font-size: 20px;
				padding-left: 30px;
				text-transform: uppercase;
				color: $white;
			}
			input {
				background-image: url("../assets/img/home_icons/ic_search_black_48px.svg");
    			background-repeat: no-repeat;
    			background-position: right;
    			background-size: 15%;
				margin-left: 10px;
				margin-right: -30px;
				font-size: 15px;
				color: $gray-l;
				width: 263px;
				height: 45px;
				text-align: left;
				display: block;
				border: 0px;
				background-color: $gray-b;
				&::-webkit-input-placeholder {
					color: $gray-l;
					padding-left: 20px;
				}
			}
			p.recents{
				padding-top:3px;
				font-size: 13px;
				padding-left: 10px;
				text-transform: uppercase;
				color: $gray-m;
			}
			hr {
				opacity: 0.2;
				width: 263px;
				margin-left: 10px;
			}
			div.addresse {
				p.street {
					margin-top: 14px;
					font-size: 14pt;
					padding-left: 10px;
					text-transform: uppercase;
					color: $gray-l;
					margin-bottom: 0px;
				}
				p.city {
					margin-bottom: 14px;
					margin-top: 5px;
					font-size: 11pt;
					padding-left: 10px;
					text-transform: uppercase;
					color: $gray-m;
				}
			}
		}
	}
	article.player {
		display: none;
		margin-left: 20px;
		width: 535px;
		height: 270px;
		p {						
			font-weight: 400;
			font-size: 20px;
			color:$white;
			margin-bottom: 0px;
			span {
				color: $orange;
			}
		}
		div.content {
			margin-top: -45px;
			div.cover {
				display: inline-block;
				background-image: url("../assets/img/cover/smith.png");
				background-size: cover;
				width: 250px;
				height: 250px;
				div.title {
					width: 223px;
					position: relative; 
					left: 159px;
					top: 17px;
					background-color: $gray-r;
					p {
						text-transform: uppercase;
						margin: 0px;
						&:nth-child(1) {
							text-align: right;
							font-weight: 100;
							padding-top: 10px;
							padding-left: 10px;
							padding-right: 10px;
							font-size: 17px;
						}
						&:nth-child(2) {
							padding-bottom: 10px;
							padding-left: 10px;
							padding-right: 10px;
							font-size: 13px;
							text-align: right;
						}
					}
				}
			}
			div.play {
				position: relative;
				top: 140px;
				left: 15px;
				width: 200px;
				height: 250px;
				display: inline-block;
				div.top {
					display: block;
					text-align: center;
					svg {
						display: inline-block;
						fill: $gray-l;
						&:nth-child(2) {
							fill: $white;
						}
					}
				}
				div.bottom {
					display: block;
					text-align: center;
					svg {
						display: inline-block;
						fill: $gray-l;
						&:nth-child(1) {
							padding-right: 15px;
							width: 26px;
							height: 30px;
						}
						&:nth-child(2) {
							width: 26px;
							height: 31px;
							fill: $orange;
						}
					}
				}
			}
		}
	}
	article.agenda {
		float: right;
		margin-left: 0px;
		width: 535px;
		height: 270px;
		display: none;
		p.title {
			font-weight: 400;
			font-size: 20px;
			color:$white;
			margin-bottom: 0px;
			span {
				color: $green;
			}
		}
		div.agendaLeft {
			float: left;
			width: 250px;
			a {
				display: block;
				width: 250px;
				text-decoration: none;
				height: auto;
				&:nth-child(1){
					margin-top: 40px;
				}
				&:active {
					background-color: $gray-b;
				}
				p {
					display: inline-block;
					text-transform: uppercase;
					font-size: 16px;
				}
				p.time {
					@include fontBrandonBold();
					color: $gray-m;
					font-size: 15px;
					line-height: 35px;
					height: 50px;
					width: 50px;
					&:nth-child(2) {
						margin-top: 0px;
						margin-bottom: 0px;
					}
				}
				p.info {
					color: $gray-l;
					float: right;
					width: 200px;
				}
				.center {
					margin-bottom: 0px;
					margin-top: 0px;
				}
			}
		}
		div.agendaRight {
			float: right;
			width: 262px;
			height: 200px;
			display: block;
			margin-right: 20px;
			background-color: $gray-b;
			p {
				line-height: 25px;
				text-transform: uppercase;
				font-size: 18px;
				margin-left: 16px;
				span {
					padding-left: 20px;
					font-weight: 300;
					line-height: 14px;
					font-size: 14px;
				}
				&.title {
					margin-top: 13px;
					font-weight: 600;
					color: $gray-l;
				}
				&.localisation {
					margin-top: 0px;
					margin-bottom: 0px;
					color: $gray-m;
					font-weight: 600;
					font-size: 17px;
					margin-bottom: 0px;
					&:nth-child(2) {
						position: relative;
						bottom: 15px;
					}
					svg {
						position: relative;
						top: 4px;
						padding-top: 20px;
						padding-right: 18px;
						fill: $gray-m;
					}
				}
				&.time {
					position: relative;
					bottom: 38px;
				}
				&.adresse {
					margin-top: 0px;
					color: $gray-m;
					padding-left: 38px;
					font-weight: 300;
					line-height: 16px;
					font-size: 13px;
					position: relative;
					bottom: 15px;
				}
			}
			a.open {
				position: relative;
				bottom: 30px;
				font-weight: 700;
				display: block;
				width: 262px;
				line-height: 50px;
				height: 50px;
				font-size: 13px;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				color: $gray-m;
				border-top: 2px solid $black;
				background-color: $gray-b;
				svg {
					fill: $gray-m;
					position: relative;
					top: 7px;
					padding-left: 2px;
				}
			}
			a.leftButton {
				display: inline-block;
				position: relative;
				bottom: 27px;
				font-size: 20px;
				color: $gray-m;
				text-align: center;
				line-height: 42px;
				text-transform: uppercase;
				text-decoration: none;
				background-color: $green;
				height: 40px;
				width: 145px;
				width: 50%;
			}
			a.rightButton {
				float: right;
				display: inline-block;
				position: relative;
				bottom: 27px;
				font-size: 20px;
				color: $gray-l;
				text-align: center;
				line-height: 42px;
				text-transform: uppercase;
				text-decoration: none;
				background-color: $gray-r;
				height: 40px;
				width: 145px;
				width: 50%;
			}
		}
	}
	article.energy {
		margin-top: 85px;
		height: 270px;
		padding-left: 20px;
		p.title {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 20px;
			color:$white;
			margin-bottom: 0px;
			span {
				color: $green;
			}
		}
		div.graph {
			float: left;
			background-image: url("../assets/img/energy/graph.png");
			background-size: cover;
			width: 876px;
			height: 305px;
			display: none;
		}
		div.energyRight {
			padding-left: 10px;
			display: none;
			width: 275px;
			div.firstBlock {
				div.top {
					color: $gray-l;
					line-height: 42px;
					width: 275px;
					height: 42px;
					background-color: $gray-r;
					p {
						margin-top: 0px;
						padding-left: 20px;
						text-transform: uppercase;
					}
				}
				div.bot {
					width: 275px;
					background-color: $gray-b;
					height: 108px;
					hr {
						border-color: $green;
						margin: 0px;
						width: 240px;
						position: relative;
						top: 0px;
					}
					p.numberLeft {
						padding-left: 10px;
						margin-top: 8px;
						width: 60%;
						margin: 0px;
						text-align: center;
						@include fontBrandonLight();
						height:50px;
						line-height: 80px;
						padding: 0px;
						color: $green;
						font-size: 50pt;
						&:after {
							vertical-align: top;
							line-height: 45px;
							font-size: 11pt;
							content:'%';
							padding-left: 5px;
							width: 30px;
							height: 10px;
						}
					}
					p.infosLeft {
						margin-left: 10px;
						text-align: center;
						width: 50%;
						text-transform: uppercase;
						color: $gray-m;
						font-size: 10pt;
						margin-top: 30px;
					}
					svg.svgRight {
						fill: $gray-m;
						position: relative;
						left: -1px;
						bottom: 108px;
					}
					p.numberRight {
						position: relative;
						left: 140px;
						bottom: 108px;
						margin-top: 8px;
						display: inline-block;
						width: 50%;
						margin: 0px;
						text-align: center;
						@include fontBrandonLight();
						height:50px;
						line-height: 80px;
						padding: 0px;
						color: $gray-m;
						font-size: 50pt;
						&:after {
							vertical-align: top;
							line-height: 45px;
							font-size: 11pt;
							content:'H';
							padding-left: 5px;
							width: 30px;
							height: 10px;
						}
					}
					p.infosRight {
						position: relative;
						left: 30px;
						bottom: 79px;
						text-align: center;
						display: inline-block;
						text-transform: uppercase;
						color: $gray-m;
						font-size: 10pt;
					}		
				}	
			}
			div.secondBlock {
				div.top {
					color: $gray-l;
					line-height: 42px;
					width: 275px;
					height: 42px;
					background-color: $gray-r;
					p {
						margin-top: 3px;
						padding-left: 20px;
						text-transform: uppercase;
					}
				}
				div.bot {
					width: 275px;
					background-color: $gray-b;
					height: 108px;
					p.numberLeft {
						padding-left: 10px;
						margin-top: 8px;
						width: 60%;
						margin: 0px;
						text-align: center;
						@include fontBrandonLight();
						height:50px;
						line-height: 80px;
						padding: 0px;
						color: $red;
						font-size: 50pt;
						&:after {
							vertical-align: top;
							line-height: 45px;
							font-size: 11pt;
							content:'°F';
							padding-left: 5px;
							width: 30px;
							height: 10px;
						}
					}
					p.infosLeft {
						margin-left: 10px;
						text-align: center;
						width: 50%;
						text-transform: uppercase;
						color: $gray-m;
						font-size: 10pt;
						margin-top: 30px;
					}
					p.tpm {
						color: $gray-m;
						position: relative;
						left: 224px;
						font-size: 10px;
						bottom: 144px;
					}
					p.numberRight {
						position: relative;
						left: 130px;
						bottom: 108px;
						margin-top: 8px;
						display: inline-block;
						width: 50%;
						margin: 0px;
						text-align: center;
						@include fontBrandonLight();
						height:50px;
						line-height: 80px;
						padding: 0px;
						color: $gray-m;
						font-size: 50pt;
						&:after {
							vertical-align: top;
							line-height: 45px;
							font-size: 11pt;
							content:'M';
							padding-left: 5px;
							width: 30px;
							height: 10px;
						}
					}
					p.infosRight {
						position: relative;
						left: 10px;
						bottom: 79px;
						text-align: center;
						display: inline-block;
						text-transform: uppercase;
						color: $gray-m;
						font-size: 10pt;
					}		
				}
			}
		}
	}
	article.control {
		margin-top: 80px;
		padding-left: 20px;
		p.title {
			position: relative;
			top: 5px;
			width: 400px;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 20px;
			color:$white;
			padding-top: 20px;
			margin-bottom: 0px;
			span {
				color: $orange;
			}
		}
		div.pressure {
			position: relative;
			bottom: 96px;
			display: none;
			background-image: url("../assets/img/control/pressure.png");
			width: 278px;
			height: 308px;
			div.buttonPressureLeft {
				width: 100px;
				height: 115px;
				top: 50px;
				position: relative;
				left: 55px;
				p.counterPressureLeft {
					line-height: 45px;
					@include fontBrandonLight();
					margin: 0px;
					width: 64px;
					font-size: 33px;
					text-align: center;
					color: $orange;
				}
				button {
					background: transparent;
					width: 64px; 
					height: 20px;
					border: 0px;
				}
			}
			div.buttonPressureRight {
				width: 100px;
				height: 115px;
				bottom: 64px;
				position: relative;
				left: 195px;
				p.counterPressureRight {
					line-height: 45px;
					@include fontBrandonLight();
					margin: 0px;
					width: 64px;
					font-size: 33px;
					text-align: center;
					color: $orange;
				}
				button {
					background: transparent;
					width: 64px; 
					height: 20px;
					border: 0px;
				}
			}
			div.buttonPressureBot {
				width: 100px;
				height: 115px;
				top: 205px;
				position: absolute;
				left: 40px;
				p.counterPressureBot {
					line-height: 45px;
					@include fontBrandonLight();
					margin: 0px;
					width: 64px;
					font-size: 33px;
					text-align: center;
					color: $green;
				}
				button {
					background: transparent;
					width: 64px; 
					height: 20px;
					border: 0px;
				}
			}
			a.elevationActive {
				position: relative;
				top: 30px;
				left: 139px;
				display: block;
				text-decoration: none;
				text-align: center;
				background-color: $green;
				width: 136px;
				height: 47px;
				@include fontAvenir();
				line-height: 46px;
				color: $gray-m;
			}
			.toggle {
				background-color: $gray-m !important;
				color: $green !important;
			}
		}
		div.usure {
			position: relative;
			margin-bottom: 46px;
			display: none;
			background-image: url("../assets/img/control/usure.png");
			width: 296px;
			height: 308px;
			div.alert {
				@include fontAvenir();
				left: 4px;
				position: absolute;
				width: 289px;
				height: 40px;
				top: 190px;
				line-height: 40px;
				text-align: center;
				font-size: 22px;
				background-color: $red;
				color: $white;
				border-bottom: 2px solid black;
				text-transform: uppercase;
				
				animation-name: warningAnimation;
		      	animation-iteration-count: infinite;
		      	animation-duration: 1s;
			}
		}
		div.car {
			display: none;
			position: relative;
			bottom: 20px;
			left: 3px;
			background-image: url("../assets/img/control/car.png");
			width: 289px;
			height: 398px;

			// animation-name: carAnimation;
		 //    animation-iteration-count: infinite;
		 //    animation-duration: 1s;
		}
		div.usureBad {
			display: none;
			position: relative;
			bottom: 49px;
			left: 8px;
			background-image: url("../assets/img/control/usureBad.png");
			width: 275px;
			height: 305px;
		}
	}
	@keyframes changeOpacity{
        0%{
          background-color: rgba(248, 155, 0, 0.8);
        }
        50%{
          background-color: rgba(248, 155, 0, 0.5);
        }
        100%{
          background-color: rgba(248, 155, 0, 0.8);
        }
    }
	@keyframes changeScale{
        0%{
          transform: scale(1);
        }
        50%{
          transform: scale(1.1);
        }
        100%{
          transform: scale(1);
        }
    }
    @keyframes warningAnimation {
      0% { 
      	opacity: 1; 
      }
      50% { 
      	opacity: 0; 
      }
      100% { 
      	opacity: 1;
      }
    }
    @keyframes carAnimation {
      0% { 
      	opacity: 1; 
      }
      50% { 
      	opacity: 0.8; 
      }
      100% { 
      	opacity: 1;
      }
    }
}