<section id="experience">
	<embed src="assets/song/hello.m4a" autostart="true" loop="false"
	    width="0" height="0">
	</embed>
	<noembed>
	   <bgsound src="assets/song/hello.m4a">
	</noembed>
	<article class="gps">
		<div class="blocLeft">
			<div class="top">
				<div class="left">
					<div class="dotFirst"></div>
					<div class="dotLeft"></div>
					<div class="dotLeft"></div>
					<div class="dotLeft"></div>
					<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
				</div>
				<div class="right">
					<svg fill="#ada8ae" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
					</svg>
					<img src="assets/img/home_icons/ic_reverse_directions_24dp.png" alt="reverse">
				</div>
				<div class="center">
					<form>
						<input class="button" type="text" placeholder="MY POSITION"></input>
						<input class="button" type="text" placeholder="8 RUE DE BRY"></input>
					</form>
				</div>
			</div>
			<div class="bottom">
				<p><span>26 min</span> (12,4 miles)</p>
				<p>by rue floréal</p>
				<p><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			    <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
			    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>take rue de valmy</p>
				<p><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
			    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>left on avenue leon</p>
				<p><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
			    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>left on rue moulin</p>
				<p><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    			<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    			<path d="M0 0h24v24H0z" fill="none"/>
				</svg>right on bd. augustin</p>
			</div>
		</div>
		<div class="blocRight">
			<p class="title">NAVIGATE</p>
			<input class="button" type="text" placeholder="SEARCH"></input>
			<p class="recents">recent addresses</p>
			<hr />
			<div class="addresse">
				<p class="street">27 bis rue du progres</p>
				<p class="city">montreuil</p>
				<hr />
			</div>
			<div class="addresse">
				<p class="street">27 rue lucien sampaix</p>
				<p class="city">paris</p>
				<hr />
			</div>
			<div class="addresse">
				<p class="street">8 rue de bry</p>
				<p class="city">villebon</p>
				<hr />
			</div>
		</div>
		<div id="map"></div>
		<div class="dot">
			<div class="inner"></div>
		</div>
	</article>
	<article class="player">
		<p><span>MUSIC</span> NOW PLAYING</p>
		<div class="content">
			<div class="cover">
				<div class="title">
					<p>WRITING’S ON THE WALL</p>
					<p>Sam smith</p>
				</div>
			</div>
			<div class="play">
				<div class="top">
					<svg fill="#FFFFFF" height="58" viewBox="0 0 24 24" width="58" xmlns="http://www.w3.org/2000/svg">
			    		<path d="M6 6h2v12H6zm3.5 6l8.5 6V6z"/>
			    		<path d="M0 0h24v24H0z" fill="none"/>
					</svg>
					<svg fill="#FFFFFF" height="58" viewBox="0 0 24 24" width="58" xmlns="http://www.w3.org/2000/svg">
					    <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
					</svg>
					<svg fill="#FFFFFF" height="58" viewBox="0 0 24 24" width="58" xmlns="http://www.w3.org/2000/svg">
					    <path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
					</svg>
				</div>
				<div class="bottom">
					<svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
					    <path d="M0 0h24v24H0z" fill="none"/>
					    <path d="M7 7h10v3l4-4-4-4v3H5v6h2V7zm10 10H7v-3l-4 4 4 4v-3h12v-6h-2v4z"/>
					</svg>
					<svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
					    <path d="M0 0h24v24H0z" fill="none"/>
					    <path d="M10.59 9.17L5.41 4 4 5.41l5.17 5.17 1.42-1.41zM14.5 4l2.04 2.04L4 18.59 5.41 20 17.96 7.46 20 9.5V4h-5.5zm.33 9.41l-1.41 1.41 3.13 3.13L14.5 20H20v-5.5l-2.04 2.04-3.13-3.13z"/>
					</svg>
				</div>
			</div>
		</div>
	</article>
	<article class="agenda">
		<p class="title"><span>DAILY</span> AGENDA</p>
		<div class="agendaLeft">
			<a href="#">
				<p class="time">8:00</p>
				<p class="info">bring son to <br/>school</p>
			</a>
			<a href="#">
				<p class="time center">9:30</p>
				<p class="info center">coffee with <br />lucia sciarra</p>
			</a>
			<a href="#">
				<p class="time">12:10</p>
				<p class="info">lunch with <br />madeleine</p>
			</a>
		</div>
		<div class="agendaRight">
			<p class="title">coffe with lucia<br />sciarra</p>
			<p class="localisation"><svg fill="#000000" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
		    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
		    <path d="M0 0h24v24H0z" fill="none"/>
			</svg>covent gorden</p>
			<p class="adresse">27 Monmouth Street,<br />London</span></p>
			<p class="localisation time"><svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
		    <path d="M0 0h24v24H0z" fill="none"/>
		    <path d="M16.24 7.76C15.07 6.59 13.54 6 12 6v6l-4.24 4.24c2.34 2.34 6.14 2.34 8.49 0 2.34-2.34 2.34-6.14-.01-8.48zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
			</svg>2h30</p>
			<a class="open" href="#">open in agenda<svg fill="#FFFFFF"height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    		<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    		<path d="M0 0h24v24H0z" fill="none"/>
			</svg></a>
			<div class="linkButton">
				<a class="leftButton" href="#">Call</a>
				<a class="rightButton" href="#">Go</a>
			</div>
		</div>
	</article>
	<article class="energy">
		<p class="title"><span>energy</span> consumption</p>
		<div class="graph"></div>
		<div class="energyRight">
			<div class="firstBlock">
				<div class="top">
					<p>Battery</p>
				</div>
				<div class="bot">
					<hr />
					<p class="numberLeft">87</p>
					<p class="infosLeft">power source</p>
					<p class="numberRight">5</p>
					<p class="infosRight">remaining</p>
					<svg class="svgRight" fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
					    <path d="M6 2v6h.01L6 8.01 10 12l-4 4 .01.01H6V22h12v-5.99h-.01L18 16l-4-4 4-3.99-.01-.01H18V2H6z"/>
					    <path d="M0 0h24v24H0V0z" fill="none"/>
					</svg>
				</div>
			</div>
			<div class="secondBlock">
				<div class="top">
					<p>Engine</p>
				</div>
				<div class="bot">
					<p class="numberLeft">117</p>
					<p class="infosLeft">temperature</p>
					<p class="numberRight">12</p>
					<p class="infosRight">Tour / minute</p>
					<p class="tpm">TPM</p>
				</div>
			</div>
		</div>
	</article>
	<article class="control">
		<p class="title"><span>tires</span> control</p>
		<div class="pressure">
			<div class="buttonPressureLeft">
				<button class="addPressureLeft" href="#"></button>
				<p class="counterPressureLeft"></p>
				<button class="subtractPressureLeft" href="#">
			</div>
			<div class="buttonPressureRight">
				<button class="addPressureRight" href="#"></button>
				<p class="counterPressureRight"></p>
				<button class="subtractPressureRight" href="#">
			</div>
			<div class="buttonPressureBot">
				<button class="addPressureBot" href="#"></button>
				<p class="counterPressureBot"></p>
				<button class="subtractPressureBot" href="#">
			</div>
			<a href="#" class="elevationActive">Active</a>
		</div>
		<div class="usure">
			<div class="alert">
				<span>Alert</span>
			</div>
		</div>
		<div class="car"></div>
		<div class="usureBad"></div>
	</article>
</section>
