<section id="home">
  <div class="content">
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>
  </div>
  <a href="/experience"></a>
  <video autoplay loop>
    <source src="assets/videos/intro.mp4" type="video/mp4">
  </video>
</section>
