<section id="home">
  <div class="content">
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>  
      <span class="nbr ltr">0</span>
  </div>
  <a href="/experience"></a>
  <video autoplay loop>
    <source src="assets/videos/intro.mp4" type="video/mp4">
  </video>
  <embed src="assets/song/hello.m4a" autostart="true" loop="false"
    width="0" height="0">
  </embed>
  <noembed>
    <bgsound src="assets/song/hello.m4a">
  </noembed>
</section>
