<section id="missions">
    <article id="profile">
        <div class="profile-title">
            <p>profile</p>
        </div>
        <div class="informations">
            <div class="localisation-title">
                <p>last known localisation</p>
            </div>
            <div class="card">
                <p class="name">white</p>
                <p class="warning">maximum surveillance</p>
                <img src="assets/img/missions/fiche_suspect.jpg" alt="picture bad guy"/>
                <div class="card-infos">
                    <ul class="infos-list">
                        <li><div class="info-name">age: </div><div class="info-value">57 years old</div></li>
                        <li><div class="info-name">size: </div><div class="info-value">1m92</div></li>
                        <li><div class="info-name">weight: </div><div class="info-value">120lbs</div></li>
                        <li><div class="info-name">scorecard: </div><div class="info-value">psychopath</div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="position">
            <div class="dotMission">
                <div class="inner"></div>
            </div>
            <span class="cityMission">montreuil</span>
            <span class="addressMission">27 bis rue du progrès</span>
            <span class="zip">93100</span>
        </div>
    </article>
    <article id="warning-imminent">
        <span>warning : imminent impact</span>
    </article>
    <article id="mission">
        <div class="details">
            <span class="mission-title">mission <div class="mission-title-number">#032</div></span><br/>
            <span class="mission-info">it's important to find white as quickly as possible</span>
            <p class="mission-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non justo non diam porta semper a eu lectus. Proin mollis mi vel placerat vestibulum. Suspendisse vitae blandit diam, at faucibus est. Donec vehicula, nibh ac vehicula faucibus, neque magna vestibulum nunc, maximus placerat metus sapien sit amet felis Donec vehicula, nibh ac vehicula faucibus.
            </p>
        </div>
        <div class="dangerousness">
            <div class="dangerousness-title">
                <span>dangeroussness</span>
            </div>
            <div class="dangerousness-level">
                <span class="number">89</span>
                <span class="percent">%</span>
            </div>
        </div>
        <div class="remaining-time">
            <span class="time">
                4:29:38
            </span><br/>
            <span class="remaining-time-title">
                remaining time
            </span>
        </div>
        <div class="state">
            <div class="bodywork">
                <div class="bodywork-title">
                    <span>bodywork</span>
                </div>
                <div class="damage">
                    <div class="title">
                        <span>damage</span>
                    </div>
                    <div class="level">
                        <span class="number">78</span>
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="bullet-holes">
                    <div class="title">
                        <span>bullet holes</span>
                    </div>
                    <div class="level">
                        <span class="number">38</span>
                        <span class="percent">v</span>
                    </div>
                </div>
            </div>
            <div class="engine">
                <div class="engine-title">
                    <span>engine</span>
                </div>
                <div class="damage">
                    <div class="title">
                        <span>damage</span>
                    </div>
                    <div class="level">
                        <span class="number">98</span>
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="power">
                    <div class="title">
                        <span>power</span>
                    </div>
                    <div class="level">
                        <span class="number">87</span>
                        <span class="percent">%</span>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="radar-container">
        <span class="radar-title"><div class="green-title">potential</div> danger</span>
        <div class="coord-top-left">
            <span class="latitude"><strong>latitude</strong> 45.55°N</span><br/>
            <span class="elevation"><strong>elevation</strong> 27.2</span>
        </div>
        <div class="coord-bottom-left">
            <span class="position"><strong>position</strong> 35°</span><br/>
            <span class="elevation"><strong>damage</strong> 2100J</span>
        </div>
        <div class="coord-bottom-right">
            <span class="longitude"><strong>longitude</strong><br/> 135.30°W</span><br/>
            <span class="precision"><strong>precision</strong><br/> 98.46%</span>
        </div>
        <div id="radar">
            <i>
                <i></i>
            </i>
            <div id="guides">
                <div class="line"></div>
            </div>
        </div>
        <div id="active-missile">
            <div class="top">
                <span>active <span class="red">missile</span></span>
            </div>
            <div class="bottom">
                <span>target distance 30 meters</span>
            </div>
        </div>
        <div id="before-impact">
            <div class="top">
                <span>before <span class="red">impact</span></span>
            </div>
            <div class="bottom">
                <span>5 seconds</span>
            </div>
        </div>
        <div id="video-mission">
            <video src="assets/videos/MISSION.mp4"></video>
            <embed class="sound" width="0" height="0" autoplay="false" src="assets/song/targetengaged.m4a"></embed>
        </div>
    </article>
    <article id="weapon">
        <div class="weapon-left">
            <div class="title">
                <span>reload<br/>34 missiles</span>
            </div>
        </div>
        <div class="weapon-center">
        </div>
        <div class="weapon-right"></div>
    </article>
</section>