<header>
    <div class="top"></div>
    <nav>
        <a class="exp" href="/experience">
            <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
        </a>
        <hr />
        <a class="music" href="#">
            <svg height="48" version="1.1" viewBox="0 0 16 16" width="48" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><defs/><g fill="none" fill-rule="evenodd" id="Icons with numbers" stroke="none" stroke-width="1"><g fill="#000000" id="Group" transform="translate(-480.000000, -192.000000)"><path d="M486,197.8 L486,205.598145 L485.999914,205.598093 C486.007349,206.311236 485.532942,207.115366 484.550427,207.62066 C483.185882,208.322426 481.750973,207.979941 481.225759,207.169611 C480.700546,206.359281 481.085029,205.081106 482.449573,204.37934 C483.367261,203.907386 484.316775,203.907734 485,204.205054 L485,198 L485,194 L495,192 L495,193 L495,196 L495,204.600464 L494.999937,204.600489 C495.006283,205.313042 494.531839,206.115934 493.550427,206.62066 C492.185882,207.322426 490.750973,206.979941 490.225759,206.169611 C489.700546,205.359281 490.085029,204.081106 491.449573,203.37934 C492.367261,202.907386 493.316775,202.907734 494,203.205054 L494,196.2 Z M486,197.8" id="Rectangle 233"/></g></g></svg>
        </a>
        <hr />
        <a class="gps" href="#">
            <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M21 3L3 10.53v.98l6.84 2.65L12.48 21h.98L21 3z"/>
            </svg>
        </a>
        <hr />
        <a class="missions" href="#">
            <svg version="1.1"
				 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
				 x="0px" y="0px" width="82px" height="80px" viewBox="0 0 253.6 252.5" style="enable-background:new 0 0 253.6 252.5;"
				 xml:space="preserve">
				<g id="T_1_">
					<path class="st0" d="M126.8,252.5L162.3,53c33.8,0,44.5,3.7,46,18.8c0,0,22.7-8.5,34.1-25.6c-44.6-20.7-89.5-21.6-89.5-21.6
					l-26.2,31.9l0.1,0l-26.2-31.9c0,0-44.9,0.9-89.5,21.6c11.4,17.2,34.1,25.6,34.1,25.6C46.8,56.7,57.5,53,91,53L126.8,252.5"/>
					<path class="st0" d="M126.8,15.4c36.1-0.3,77.4,5.6,119.7,24c5.7-10.2,7.1-14.7,7.1-14.7C207.4,6.4,164.1,0.2,126.8,0
					C89.5,0.2,46.2,6.4,0,24.7c0,0,2.1,5.5,7.1,14.7C49.4,20.9,90.7,15.1,126.8,15.4L126.8,15.4"/>
				</g>
			</svg>
        </a>
        <hr />
        <a class="eco" href="#">
            <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
            </svg>
        </a>
        <hr />
        <a class="web" href="#">
            <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"/>
            </svg>
        </a>
        <hr />
        <a class="phone" href="#">
            <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
            </svg>
        </a>

    </nav>

</header>

<section id="missions">
    <article id="profile">
        <div class="profile-title">
            <p>profile</p>
        </div>
        <div class="informations">
            <div class="localisation-title">
                <p>last known localisation</p>
            </div>
            <div class="card">
                <p class="name">white</p>
                <p class="warning">maximum surveillance</p>
                <img src="assets/img/missions/fiche_suspect.jpg" alt="picture bad guy"/>
                <div class="card-infos">
                    <ul class="infos-list">
                        <li><div class="info-name">age: </div><div class="info-value">57 years old</div></li>
                        <li><div class="info-name">size: </div><div class="info-value">1m92</div></li>
                        <li><div class="info-name">weight: </div><div class="info-value">120lbs</div></li>
                        <li><div class="info-name">scorecard: </div><div class="info-value">psychopath</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
    <article id="warning-imminent">
        <span>warning : imminent impact</span>
    </article>
    <article id="mission">
        <div class="details">
            <span class="mission-title">mission <div class="mission-title-number">#032</div></span><br/>
            <span class="mission-info">it's important to find white as quickly as possible</span>
            <p class="mission-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non justo non diam porta semper a eu lectus. Proin mollis mi vel placerat vestibulum. Suspendisse vitae blandit diam, at faucibus est. Donec vehicula, nibh ac vehicula faucibus, neque magna vestibulum nunc, maximus placerat metus sapien sit amet felis Donec vehicula, nibh ac vehicula faucibus.
            </p>
        </div>
        <div class="dangerousness">
            <div class="dangerousness-title">
                <span>dangeroussness</span>
            </div>
            <div class="dangerousness-level">
                <span class="number">89</span>
                <span class="percent">%</span>
            </div>
        </div>
        <div class="remaining-time">
            <span class="time">
                4:29:38
            </span><br/>
            <span class="remaining-time-title">
                remaining time
            </span>
        </div>
        <div class="state">
            <div class="bodywork">
                <div class="bodywork-title">
                    <span>bodywork</span>
                </div>
                <div class="damage">
                    <div class="title">
                        <span>damage</span>
                    </div>
                    <div class="level">
                        <span class="number">78</span>
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="bullet-holes">
                    <div class="title">
                        <span>bullet holes</span>
                    </div>
                    <div class="level">
                        <span class="number">38</span>
                        <span class="percent">v</span>
                    </div>
                </div>
            </div>
            <div class="engine">
                <div class="engine-title">
                    <span>engine</span>
                </div>
                <div class="damage">
                    <div class="title">
                        <span>damage</span>
                    </div>
                    <div class="level">
                        <span class="number">98</span>
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="power">
                    <div class="title">
                        <span>power</span>
                    </div>
                    <div class="level">
                        <span class="number">87</span>
                        <span class="percent">%</span>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="radar-container">
        <span class="radar-title"><div class="green-title">potential</div> danger</span>
        <div class="coord-top-left">
            <span class="latitude"><strong>latitude</strong> 45.55°N</span><br/>
            <span class="elevation"><strong>elevation</strong> 27.2</span>
        </div>
        <div class="coord-bottom-left">
            <span class="position"><strong>position</strong> 35°</span><br/>
            <span class="elevation"><strong>damage</strong> 2100J</span>
        </div>
        <div class="coord-bottom-right">
            <span class="longitude"><strong>longitude</strong><br/> 135.30°W</span><br/>
            <span class="precision"><strong>precision</strong><br/> 98.46%</span>
        </div>
        <div id="radar">
            <i>
                <i></i>
            </i>
            <div id="guides">
                <div class="line"></div>
            </div>
        </div>
        <div id="active-missile">
            <div class="top">
                <span>active <span class="red">missile</span></span>
            </div>
            <div class="bottom">
                <span>target distance 30 meters</span>
            </div>
        </div>
        <div id="before-impact">
            <div class="top">
                <span>before <span class="red">impact</span></span>
            </div>
            <div class="bottom">
                <span>5 seconds</span>
            </div>
        </div>
    </article>
    <article id="weapon">
        <div class="weapon-left">
            <div class="title">
                <span>reload<br/>34 missiles</span>
            </div>
        </div>
        <div class="weapon-center">
        </div>
        <div class="weapon-right"></div>
    </article>
</section>

<footer>
    <a class="block controls" href="#">
        <p>Controls</p>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M95,53.396c0,0-0.169,6.019-0.622,10.169c-0.454,4.151-1.888,11.699-1.888,11.699s-0.68,1.811-5.962,2.339  C81.245,78.132,60.867,79.037,50,79.037c-10.868,0-31.245-0.905-36.527-1.434c-5.284-0.528-5.962-2.339-5.962-2.339  s-1.435-7.548-1.888-11.699C5.169,59.416,5,53.396,5,53.396s0.425-5.859,0.566-6.539c0.142-0.679,3.877-4.331,4.812-5.009  c0.935-0.679,4.152-1.83,4.152-1.83l0.319-1.208l-1.395-0.924l-0.813,0.038c0,0-1.321,0.886-3.227,0.886  c-1.907,0-2.753-0.131-3.415-0.472C5.339,38,5.263,36.944,5.263,36.246c0-0.698-0.057-0.793,0.209-1.51  c0.264-0.716,1.433-0.773,3.188-0.773s2.624,0.17,3.152,0.623c0.529,0.453,0.81,0.83,0.81,0.83h0.812l0.076-0.245l2.981,0.169  c0,0,0.905-1.301,1.867-1.754c0.962-0.454,2.321-0.454,2.321-0.454s2.831-4.075,3.849-5.83c1.019-1.755,2.378-3,3.284-3.793  c0.905-0.793,5.887-2.547,22.188-2.547s21.282,1.754,22.188,2.547c0.905,0.793,2.265,2.038,3.282,3.793  c1.02,1.754,3.849,5.83,3.849,5.83s1.358,0,2.321,0.454c0.962,0.453,1.867,1.754,1.867,1.754l2.981-0.169l0.077,0.245h0.81  c0,0,0.282-0.377,0.811-0.83c0.529-0.453,1.397-0.623,3.152-0.623c1.754,0,2.925,0.057,3.188,0.773  c0.264,0.717,0.207,0.811,0.207,1.51c0,0.698-0.075,1.754-0.734,2.093c-0.661,0.34-1.51,0.472-3.416,0.472  c-1.905,0-3.227-0.886-3.227-0.886l-0.811-0.038l-1.396,0.924l0.318,1.208c0,0,3.216,1.151,4.151,1.83  c0.934,0.68,4.669,4.331,4.812,5.009C94.574,47.537,95,53.396,95,53.396z M71.169,53.906c0,2.264,1.133,2.944,3.283,2.49  c2.15-0.453,4.642-1.02,7.811-1.63c3.171-0.611,4.075-2.559,4.868-4.257c0.792-1.698,1.36-3.848,1.36-4.867s-4.189-0.792-7.699,0  c-3.509,0.792-8.266,2.377-8.266,2.377C71.735,49.038,71.169,51.642,71.169,53.906z M27.019,48.019c0,0-4.755-1.585-8.264-2.377  c-3.509-0.792-7.698-1.019-7.698,0c0,1.02,0.566,3.169,1.358,4.868c0.792,1.698,1.698,3.646,4.868,4.256  c3.17,0.609,5.661,1.178,7.811,1.629c2.151,0.454,3.283-0.225,3.283-2.489S27.812,49.038,27.019,48.019z M74.453,65.604  c-2.718-1.812-9.51-0.906-24.453-0.906s-21.736-0.905-24.452,0.906c-2.717,1.812-4.831,2.868-3.472,5.585  c1.358,2.717,3.019,3.319,10.415,3.923c7.396,0.605,8.907,0.605,17.511,0.605c8.604,0,10.113,0,17.51-0.605  c7.396-0.604,9.057-1.206,10.414-3.923C79.283,68.471,77.169,67.416,74.453,65.604z M75.585,30.246  c-1.754-1.755-1.698-2.604-6.34-3.623C64.604,25.605,61.32,25.265,50,25.265c-11.321,0-14.604,0.34-19.245,1.358  c-4.642,1.02-4.585,1.868-6.341,3.623c-1.755,1.754-5.32,10.528-5.32,10.528s1.471,0.792,4.641,0.566  c3.17-0.227,20.604,1.311,26.265,1.246c5.66,0.065,23.094-1.473,26.266-1.246c3.168,0.226,4.641-0.566,4.641-0.566  S77.339,32,75.585,30.246z"/></svg>
    </a>
    <a class="block heat" href="#">
        <p>Heat power</p>
        <p class="number">3</p>
        <svg class="left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M89.674,14.355c-0.552-0.842-3.521-5.039-7.753-5.039c-1.176,0-2.298,0.325-3.334,0.967  c-2.896,1.793-15.553,21.479-18.132,46.78c-4.107-0.802-11.458-2.16-19.08-3.2c0.068-3.194,0.589-4.983,1.231-6.797l2.971,0.566  L41.64,36.334l-7.817,9.059l2.832,0.54c-0.596,1.8-1.134,3.97-1.261,7.196c-3.965-0.428-7.792-0.705-11.052-0.705  c-5.359,0-8.552,0.725-10.352,2.349c-8.178,7.382,1.379,26.007,3.377,29.666C17.893,85.401,18.903,86,20,86h15.746  c-0.233,1.383-0.386,3.002-0.386,5c0,1.657,1.343,3,3,3s3-1.343,3-3c0-2.161,0.198-3.697,0.5-5H79c1.657,0,3-1.343,3-3  c0-31.898,8.004-65.965,8.085-66.306C90.275,15.892,90.127,15.045,89.674,14.355z M17.99,59.244c0.045-0.033,1.167-0.82,6.352-0.82  c3.28,0,7.239,0.31,11.347,0.777c0.355,2.316,0.944,3.968,1.489,5.481c0.785,2.18,1.463,4.062,1.463,8.095  c0,3.488-0.508,5.368-1.153,7.223h-15.67C18.184,72.763,14.796,62.128,17.99,59.244z M76.022,80h-32.25  c0.491-1.81,0.868-4.048,0.868-7.223c0-5.079-0.966-7.762-1.817-10.128c-0.314-0.873-0.609-1.703-0.852-2.638  c10.593,1.511,20.424,3.56,20.579,3.593c0.852,0.175,1.74-0.021,2.432-0.549c0.693-0.526,1.123-1.328,1.178-2.197  c1.511-23.734,13.146-42.955,15.699-45.53c0.033-0.012,0.052-0.012,0.062-0.012c0.434,0,1.276,0.619,2.004,1.409  C82.454,23.347,76.437,52.035,76.022,80z"/></svg>
        <p class="number">1</p>
    </a>
    <div class="block tempLeft" href="#">
        <p>Temperature</p>
        {{!-- 		<p class="number">95</p>
         --}}		<button class="addLeft" href="#">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.03 41.03"><defs></defs><line class="cls-1" y1="20.51" x2="41.03" y2="20.51"/><line class="cls-1" x1="20.51" y1="41.03" x2="20.51"/></svg>
    </button>
        <p class="counterLeft"></p>
        <button class="subtractRight" href="#">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 	viewBox="0 0 41 41" style="enable-background:new 0 0 41 41;" xml:space="preserve">
			<line class="st0" x1="0" y1="20.5" x2="41" y2="20.5"/>
			</svg>
        </button>
        {{!-- 		<p class="number">68</p> --}}
    </div>
    <div class="block center">
        <div class="left">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 	viewBox="0 0 287.99 287.99" style="enable-background:new 0 0 287.99 287.99;" xml:space="preserve">
				<path d="M285.794,119.675c2.929-2.929,2.929-7.678,0-10.606c-37.877-37.876-88.235-58.736-141.799-58.736
				c-53.564,0-103.923,20.859-141.799,58.736C0.79,110.475,0,112.382,0,114.372c0,1.989,0.79,3.897,2.197,5.303l86.743,86.741
				c0.707,0.707,1.521,1.239,2.39,1.605c-0.28,9.409,2.716,18.966,12.758,27.775c1.423,1.249,3.187,1.862,4.942,1.862
				c2.084,0,4.158-0.864,5.642-2.554c2.731-3.114,2.421-7.852-0.693-10.584c-8.405-7.372-8.988-14.832-6.165-25.053
				c10.313-7.293,22.553-11.29,35.418-11.443c-5.299,15.069-8.987,32.54,8.378,47.772c1.423,1.249,3.186,1.862,4.942,1.862
				c2.084,0,4.158-0.864,5.642-2.554c2.732-3.114,2.421-7.852-0.693-10.584c-10.866-9.531-8.665-19.206-2.921-34.809
				c10.409,2.462,20.02,7.556,28.025,14.955c-1.128,10.476,1.287,21.272,12.525,31.131c1.424,1.249,3.188,1.862,4.943,1.862
				c2.084,0,4.158-0.864,5.641-2.554c2.731-3.114,2.422-7.852-0.691-10.584c-7.236-6.347-8.675-12.757-7.135-20.938L285.794,119.675z
				 M163.604,175.489c3.408-11.358,4.753-23.71-3.505-35.252l5.453-4.576c1.252-1.051,1.912-2.648,1.767-4.275
				c-0.146-1.628-1.078-3.082-2.497-3.894l-36.684-20.988c-1.82-1.041-4.094-0.836-5.697,0.51c-1.604,1.346-2.2,3.55-1.491,5.522
				l14.299,39.771c0.553,1.538,1.823,2.709,3.401,3.135c0.431,0.116,0.868,0.173,1.304,0.173c1.161,0,2.303-0.405,3.214-1.17
				l5.371-4.507c4.113,6.581,3.177,13.738,0.07,23.218c-1.531-0.089-3.066-0.15-4.612-0.15c-10.054,0-19.812,1.903-28.878,5.52
				c4.051-12.169,6.459-25.709-2.542-38.289l5.452-4.575c1.252-1.051,1.912-2.648,1.767-4.276c-0.146-1.628-1.078-3.082-2.497-3.894
				l-36.682-20.988c-1.818-1.04-4.092-0.836-5.697,0.51c-1.604,1.346-2.2,3.55-1.491,5.522l14.299,39.771
				c0.553,1.538,1.823,2.709,3.401,3.135c0.431,0.116,0.868,0.173,1.304,0.173c1.162,0,2.303-0.405,3.214-1.17l5.371-4.507
				c5.273,8.438,2.25,17.817-3.01,31.832c-1.046,2.788-2.133,5.693-3.123,8.679c-0.128,0.105-0.262,0.203-0.39,0.309l-76.283-76.281
				c34.358-31.749,78.733-49.144,125.784-49.144c47.05,0,91.425,17.395,125.784,49.144l-57.742,57.742
				c2.669-10.433,3.056-21.538-4.417-31.98l5.453-4.576c1.252-1.051,1.912-2.648,1.767-4.275c-0.146-1.628-1.078-3.082-2.497-3.894
				l-36.684-20.988c-1.82-1.041-4.094-0.836-5.697,0.51c-1.604,1.346-2.2,3.55-1.491,5.522l14.299,39.771
				c0.553,1.538,1.823,2.709,3.401,3.135c0.431,0.116,0.868,0.173,1.304,0.173c1.161,0,2.303-0.405,3.214-1.17l5.372-4.507
				c5.274,8.438,2.25,17.818-3.01,31.833c-0.814,2.171-1.654,4.414-2.454,6.71C182.485,182.395,173.341,178.005,163.604,175.489z"/>
			</svg>
            <p>FRONT</p>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 48 60" style="enable-background:new 0 0 48 48;" xml:space="preserve"><path d="M37.131,25.298c-1.818-1.146-3.795-2.204-5.812-2.94c-0.466-0.17-0.938-0.324-1.412-0.475  c0.437-0.63,0.915-1.197,1.344-1.397c2.497-1.164,9.111-0.146,11.063-2.09c4.261-4.244,0.996-11.778-5.153-13.384  c-1.737-0.454-3.367-0.316-4.869,0.296c-2.978,0.884-5.33,3.514-7.074,6.285c-1.147,1.818-2.206,3.794-2.941,5.813  c-0.148,0.406-0.281,0.819-0.414,1.231c-0.524-0.386-0.971-0.793-1.144-1.165c-1.165-2.495-0.147-9.111-2.09-11.062  C14.384,2.149,6.85,5.414,5.244,11.564c-0.454,1.737-0.316,3.367,0.296,4.869c0.884,2.977,3.514,5.331,6.285,7.076  c1.818,1.144,3.794,2.205,5.813,2.939c0.536,0.194,1.079,0.376,1.625,0.545c-0.423,0.602-0.88,1.135-1.292,1.328  c-2.497,1.164-9.112,0.145-11.063,2.09c-4.262,4.242-0.997,11.776,5.153,13.383c1.737,0.454,3.366,0.315,4.87-0.295  c2.977-0.885,5.329-3.514,7.074-6.284c1.146-1.819,2.206-3.797,2.939-5.813c0.129-0.354,0.243-0.713,0.361-1.071  c0.428,0.336,0.784,0.683,0.933,1.002c1.165,2.497,0.146,9.111,2.091,11.063c4.243,4.261,11.777,0.996,13.384-5.153  c0.454-1.737,0.315-3.367-0.296-4.869C42.531,29.396,39.902,27.043,37.131,25.298z"/></svg>
            <a href="#">Auto</a>
        </div>
        <div class="right">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 233.393 233.393" style="enable-background:new 0 0 233.393 233.393;" xml:space="preserve">
				<path d="M225.893,9.932H7.5c-4.143,0-7.5,3.358-7.5,7.5v141.343c0,4.142,3.357,7.5,7.5,7.5h46.803
				c-5.942,17.736-9.157,37.867,10.742,55.324c1.424,1.249,3.188,1.862,4.943,1.862c2.084,0,4.158-0.864,5.641-2.554
				c2.732-3.114,2.422-7.853-0.691-10.584c-14.063-12.336-11.571-25.155-4.728-44.047h43.494c-5.943,17.737-9.157,37.867,10.742,55.324
				c1.424,1.249,3.188,1.862,4.943,1.862c2.084,0,4.158-0.864,5.641-2.554c2.732-3.114,2.422-7.853-0.691-10.584
				c-14.064-12.336-11.571-25.155-4.728-44.047h43.497c-5.943,17.737-9.157,37.867,10.743,55.324c1.423,1.249,3.187,1.862,4.942,1.862
				c2.084,0,4.158-0.864,5.642-2.554c2.731-3.114,2.421-7.853-0.693-10.584c-14.064-12.336-11.571-25.155-4.728-44.047h36.878
				c4.143,0,7.5-3.358,7.5-7.5V17.432C233.393,13.29,230.035,9.932,225.893,9.932z M218.393,151.275h-23.92
				c5.075-15.143,8.157-32.032-3.435-47.51l8.201-6.882c1.252-1.051,1.912-2.647,1.767-4.275c-0.146-1.628-1.078-3.082-2.497-3.895
				l-45.855-26.235c-1.819-1.04-4.092-0.837-5.697,0.51c-1.604,1.346-2.2,3.55-1.491,5.522l17.874,49.713
				c0.553,1.538,1.823,2.709,3.401,3.135c0.431,0.116,0.868,0.173,1.304,0.173c1.161,0,2.303-0.405,3.214-1.17l8.264-6.934
				c7.433,10.551,4.753,22.085-0.957,37.848h-43.496c5.076-15.143,8.158-32.032-3.434-47.511l8.2-6.881
				c1.252-1.051,1.912-2.647,1.767-4.275c-0.146-1.628-1.078-3.082-2.497-3.895L93.252,62.478c-1.818-1.04-4.092-0.837-5.697,0.51
				c-1.604,1.346-2.2,3.55-1.491,5.521l17.873,49.713c0.553,1.538,1.823,2.709,3.401,3.136c0.431,0.116,0.868,0.173,1.304,0.173
				c1.162,0,2.303-0.405,3.214-1.17l8.265-6.934c7.433,10.55,4.753,22.085-0.958,37.848H75.668c5.075-15.143,8.157-32.032-3.435-47.511
				l8.2-6.881c1.252-1.051,1.912-2.647,1.767-4.275c-0.146-1.628-1.078-3.082-2.497-3.895L33.851,62.478
				c-1.819-1.04-4.092-0.837-5.697,0.51c-1.604,1.346-2.2,3.55-1.491,5.521l17.873,49.713c0.553,1.538,1.823,2.709,3.401,3.136
				c0.431,0.116,0.868,0.173,1.304,0.173c1.162,0,2.303-0.405,3.214-1.17l8.264-6.934c7.433,10.551,4.753,22.085-0.957,37.848H15
				V24.932h203.393V151.275z"/>
				</svg>
            <p>FRONT</p>
            <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"/>
            </svg>
            <a href="#">Active</a>
        </div>
    </div>
    <div class="block tempRight" href="#">
        <p>Temperature</p>
        <button class="addRight" href="#">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.03 41.03"><defs></defs><line class="cls-1" y1="20.51" x2="41.03" y2="20.51"/><line class="cls-1" x1="20.51" y1="41.03" x2="20.51"/></svg>
        </button>
        <p class="counterRight"></p>
        <button class="subtractRight" href="#">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 	viewBox="0 0 41 41" style="enable-background:new 0 0 41 41;" xml:space="preserve">
			<line class="st0" x1="0" y1="20.5" x2="41" y2="20.5"/>
			</svg>
        </button>
    </div>
    <a class="block heat" href="#">
        <p>Heat power</p>
        <p class="number">3</p>
        <svg class="right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M89.674,14.355c-0.552-0.842-3.521-5.039-7.753-5.039c-1.176,0-2.298,0.325-3.334,0.967  c-2.896,1.793-15.553,21.479-18.132,46.78c-4.107-0.802-11.458-2.16-19.08-3.2c0.068-3.194,0.589-4.983,1.231-6.797l2.971,0.566  L41.64,36.334l-7.817,9.059l2.832,0.54c-0.596,1.8-1.134,3.97-1.261,7.196c-3.965-0.428-7.792-0.705-11.052-0.705  c-5.359,0-8.552,0.725-10.352,2.349c-8.178,7.382,1.379,26.007,3.377,29.666C17.893,85.401,18.903,86,20,86h15.746  c-0.233,1.383-0.386,3.002-0.386,5c0,1.657,1.343,3,3,3s3-1.343,3-3c0-2.161,0.198-3.697,0.5-5H79c1.657,0,3-1.343,3-3  c0-31.898,8.004-65.965,8.085-66.306C90.275,15.892,90.127,15.045,89.674,14.355z M17.99,59.244c0.045-0.033,1.167-0.82,6.352-0.82  c3.28,0,7.239,0.31,11.347,0.777c0.355,2.316,0.944,3.968,1.489,5.481c0.785,2.18,1.463,4.062,1.463,8.095  c0,3.488-0.508,5.368-1.153,7.223h-15.67C18.184,72.763,14.796,62.128,17.99,59.244z M76.022,80h-32.25  c0.491-1.81,0.868-4.048,0.868-7.223c0-5.079-0.966-7.762-1.817-10.128c-0.314-0.873-0.609-1.703-0.852-2.638  c10.593,1.511,20.424,3.56,20.579,3.593c0.852,0.175,1.74-0.021,2.432-0.549c0.693-0.526,1.123-1.328,1.178-2.197  c1.511-23.734,13.146-42.955,15.699-45.53c0.033-0.012,0.052-0.012,0.062-0.012c0.434,0,1.276,0.619,2.004,1.409  C82.454,23.347,76.437,52.035,76.022,80z"/></svg>
        <p class="number">1</p>
    </a>
    <div class="block volume" href="#">
        <p>Volume</p>
        <button class="addVolume" href="#">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.03 41.03"><defs></defs><line class="cls-1" y1="20.51" x2="41.03" y2="20.51"/><line class="cls-1" x1="20.51" y1="41.03" x2="20.51"/></svg>
        </button>
        <p class="counterVolume"></p>
        <button class="subtractVolume" href="#">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 	viewBox="0 0 41 41" style="enable-background:new 0 0 41 41;" xml:space="preserve">
			<line class="st0" x1="0" y1="20.5" x2="41" y2="20.5"/>
			</svg>
        </button>
    </div>
</footer>