<section id="navigate">
	<article class="navigate">
		<p class="title"><span>NAVIGATE</span> BROWSE</p>
		<div class="leftNavigate">
			<div class="first">
				<svg version="1.1"
	 				xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 				x="0px" y="0px" width="20px" height="16px" viewBox="0 0 20 16" style="enable-background:new 0 0 20 16;" xml:space="preserve">
					<defs>
					</defs>
					<path class="st0" d="M18.4,2.8C18.3,2.4,17.7,2,17.2,2h-6.8C9.8,2,9,1.7,8.7,1.3L8.1,0.7C7.7,0.3,6.9,0,6.3,0H3.1C2.5,0,2,0.4,2,1
					L1.7,4h16.9L18.4,2.8z M19.4,5H0.6C0.2,5,0,5.3,0,5.6l0.9,9.7C1,15.7,1.3,16,1.7,16h16.6c0.4,0,0.7-0.3,0.8-0.7L20,5.6 C20,5.3,19.7,5,19.4,5z"/>
				</svg>
				<p>Browse</p>
			</div>
			<div class="second">
				<svg fill="#434448" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
				<p>Search</p>
			</div>
			<div class="three">
				<svg version="1.1"
					 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
					 x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#434448;}
				</style>
				<defs>
				</defs>
				<path class="st0" d="M3.1,13.1L0,16l2,2l2.9-3.1L7,17v-6H1L3.1,13.1z M18,2l-2-2l-2.9,3.1L11,1v6h6l-2.1-2.1L18,2z"/>
				</svg>
				<p>Resize</p>
			</div>
		</div>
		<div class="map">
			<div class="screen">
				<div class="dot">
					<div class="inner"></div>
				</div>
			</div>
		</div>
 		<div class="blocLeft">
			<div class="top">
				<div class="left">
					<div class="dotFirst"></div>
					<div class="dotLeft"></div>
					<div class="dotLeft"></div>
					<div class="dotLeft"></div>
					<div class="dotLeft"></div>
					<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
				</div>
				<div class="right">
					<svg fill="#ada8ae" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
					</svg>
					<img src="assets/img/home_icons/ic_reverse_directions_24dp.png" alt="reverse">
				</div>
				<div class="center">
					<form>
						<input class="button" type="text" placeholder="MY POSITION"></input>
						<input class="button" type="text" placeholder="8 RUE DE BRY"></input>
					</form>
				</div>
			</div>
			<div class="bottom">
				<p><span>26 min</span> (12,4 miles)</p>
				<p>by rue floréal</p>
				<p><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			    <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
			    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>take rue de valmy</p>
				<p><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
			    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>left on avenue leon</p>
				<p><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
			    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>left on rue moulin</p>
				<p><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    			<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    			<path d="M0 0h24v24H0z" fill="none"/>
				</svg>right on bd. augustin</p>
			</div>
		</div>
		<div class="bottomNavigate">
			<a href="#">UPDATE MAPS</a>
			<a href="#">TARGET</a>
			<a href="#">CANCEL</a>
		</div>
	</article>
</section>
