// FONTS

@font-face {
	font-family: "Avenir";
	src: url('/assets/fonts/avenir.ttc');
}

@font-face {
	font-family: "BrandonBold";
	src: url('/assets/fonts/Brandon_bld.otf');
}

@font-face {
	font-family: "BrandonBlack";
	src: url('/assets/fonts/Brandon_blk.otf');
}

@font-face {
	font-family: "BrandonMedium";
	src: url('/assets/fonts/Brandon_med.otf');
}


@font-face {
	font-family: "BrandonLight";
	src: url('/assets/fonts/Brandon_light.otf');
}


@mixin fontAvenir() {
	font-family: 'Avenir';
	text-transform: uppercase;
}

@mixin fontBrandonBold() {
	font-family: 'BrandonBold';
	text-transform: uppercase;
}

@mixin fontBrandonBlack() {
	font-family: 'BrandonBlack';
	text-transform: uppercase;
}

@mixin fontBrandonMedium() {
	font-family: 'BrandonMedium';
	text-transform: uppercase;
}

@mixin fontBrandonLight() {
	font-family: 'BrandonLight';
	text-transform: uppercase;
}


