footer{
	position: absolute;
	top:1700px;
	width: 1200px;
	height: 220px;
	background-color: $black;
	.block {
		display: inline-block;
		vertical-align: bottom;
		margin-top: 20px;
		background-color: $gray-r;
		width: 125px;
		height: 180px;
		text-align:center;
		text-decoration: none;
		&.controls {
			margin-left: 20px;
			p {
				margin-top: 0px;
				@include fontAvenir();
				padding-top: 8px;
				color: $gray-m;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0px;
				font-size: 15px;
			}
			svg {
				position: relative;
				top: 30px;
				height: 100px;
				width: 126px;
				fill: $gray-l;
			}
		}
		&.heat {
			margin-left: 10px;
			background-color: $gray-b;
			p {
				margin-top: 0px;
				@include fontAvenir();
				padding-top: 8px;
				color: $gray-m;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0px;
				font-size: 15px;
				padding-bottom: 8px;
				&:nth-child(1){
					background-color: $gray-r;
				}
				&.number {
					margin-right: 5px;
					height: auto;
					font-size: 12px;
					padding: 0px;
					text-align: right;
					&:nth-child(4){
						margin-top: 33px;
					}
				}
			}
			svg.left {
		        -webkit-transform: scaleX(-1);
		        transform: scaleX(-1);
		        filter: FlipH;
		        -ms-filter: "FlipH";

				position: relative;
				top: 14px;
				fill: $gray-l;
				width: 60px;
				height: auto;
			}
		}
		&.tempLeft {
			margin-left: 10px;
			background-color: $gray-b;
			p {
				margin-top: 0px;
				@include fontAvenir();
				padding-top: 8px;
				color: $gray-m;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0px;
				font-size: 15px;
				padding-bottom: 8px;
				&:nth-child(1){
					background-color: $gray-r;
				}
				&.number {
					margin-right: 5px;
					height: auto;
					font-size: 12px;
					padding: 0px;
					text-align: right;
					&:nth-child(4){
						margin-top: 33px;
					}
				}
				&.counterLeft {
					@include fontBrandonLight();
					height:74px;
					line-height: 74px;
					padding: 0px;
					color: $green;
					font-size: 30pt;
					&:after {
						vertical-align: top;
						line-height: 55px;
						font-size: 9pt;
						content:'°F';
						width: 10px;
						height: 10px;
					}	
				}
			}
			button {
				background-color: $gray-r;
				border: 0px;
				text-align: center;
				width: 95px;
				height: 25px;
				&:nth-child(2){
					margin-top: 10px;
				}
				svg {
					vertical-align: middle;
					stroke: $gray-l;
					height: 17px;
					width: 17px;
				}
			}			
		}
		&.center {
			margin-left: 10px;
			width: 325px;
			height: 180px;
			p {
				text-align: center;
				margin-bottom: 8px;
				margin-top: 0px;
				text-transform: uppercase;
				font-size: 15px;
				color: $gray-m;
			}
			a {
				width: 156px;
				font-size: 15px;
				text-transform: uppercase;
				display: block;
				line-height: 30px;
				color: $black;
				text-decoration: none;
				height: 30px;
			}
			div.left {
				float: left;
				width: 156px;
				svg:nth-child(1){
					height: 60px;
					width: 51px;
					fill: $gray-l;
				}
				svg:nth-child(3){
					height: 35px;
					width: 35px;
					fill: $orange;
					margin-bottom: 7px;
					margin-top: 7px;
				}
				a {
					background-color: $orange;
				}
			}
			div.right {
				float: right;
				width: 156px;
				svg:nth-child(1){
					margin-bottom: 11px;
					margin-top: 11px;
					height: 38px;
					width: 35px;
					fill: $gray-l;
				}
				svg:nth-child(3){
					height: 35px;
					width: 35px;
					fill: $green;
					margin-bottom: 11px;
					margin-top: 3px;
				}
				a {
					background-color: $green;
				}
			}
		}
		&.tempRight {
			margin-left: 10px;
			background-color: $gray-b;
			p {
				margin-top: 0px;
				@include fontAvenir();
				padding-top: 8px;
				color: $gray-m;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0px;
				font-size: 15px;
				padding-bottom: 8px;
				&:nth-child(1){
					background-color: $gray-r;
				}
				&.number {
					margin-right: 5px;
					height: auto;
					font-size: 12px;
					padding: 0px;
					text-align: right;
					&:nth-child(4){
						margin-top: 33px;
					}
				}
				&.counterRight {
					@include fontBrandonLight();
					height:74px;
					line-height: 74px;
					padding: 0px;
					color: $green;
					font-size: 30pt;
					&:after {
						vertical-align: top;
						line-height: 55px;
						font-size: 9pt;
						content:'°F';
						width: 10px;
						height: 10px;
					}	
				}
			}
			button {
				background-color: $gray-r;
				border: 0px;
				text-align: center;
				width: 95px;
				height: 25px;
				&:nth-child(2){
					margin-top: 10px;
				}
				svg {
					vertical-align: middle;
					stroke: $gray-l;
					height: 17px;
					width: 17px;
				}
			}			
		}
		&.heat {
			svg.right {
				position: relative;
				top: 14px;
				fill: $gray-l;
				width: 60px;
				height: auto;
			}
		}
		&.volume {
			margin-left: 10px;
			background-color: $gray-r;
			p {
				margin-top: 0px;
				@include fontAvenir();
				padding-top: 8px;
				color: $gray-m;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0px;
				font-size: 15px;
				padding-bottom: 8px;
				&:nth-child(1){
					background-color: $gray-r;
				}
				&.number {
					margin-right: 5px;
					height: auto;
					font-size: 12px;
					padding: 0px;
					text-align: right;
					&:nth-child(4){
						margin-top: 33px;
					}
				}
				&.counterVolume {
					@include fontBrandonLight();
					height:74px;
					line-height: 74px;
					padding: 0px;
					color: $green;
					font-size: 30pt;
					&:after {
						text-transform: lowercase;
						vertical-align: top;
						line-height: 55px;
						font-size: 9pt;
						content:'dB';
						width: 10px;
						height: 10px;
					}	
				}
			}
			button {
				background-color: $gray-b;
				border: 0px;
				text-align: center;
				width: 95px;
				height: 25px;
				&:nth-child(2){
					margin-top: 10px;
				}
				svg {
					vertical-align: middle;
					stroke: $gray-l;
					height: 17px;
					width: 17px;
				}
			}			
		}
	}
}