// Colors
$orange: #f69a25;
$gray-l: #ada8ae;
$gray-m: #434448;
$gray-r: #121212;
$gray-b: #19191a;
$gray-t: #89858a;
$gray-c: #808080;
$black: #000000;
$green: #afba2d; //#afb845
$white: #f5f5f5;
$red: #d62b2b;
